.header{
    width: 100%;
    text-align: left;
}
.header button{
    float: right;
    border: 3px solid white;
}
.header h1{
    display: inline;
}
#big_img{
    width: 100%;
}
#startGame , #status{
    font-size: 25px;
}
.model-dialog{
    width: 90%;
}
.inst_img{
    width: 45%;
    display: inline-block;
}
h3{
    margin: 0px;
    background-color: gray;
    line-height: 2;
}
video{
    background: url('game_console.png');
    background-size: cover;
    padding: 25px;
    background-position: center;
}